@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

/* navbar ---------- */

.navbar a:hover {
	color: rgb(121, 121, 243) !important;
}

.menu-active {
	font-weight: 500 !important;
}

/*navbar end ----------- */

/* header section ----------*/
#header {
	width: 100%;
	margin-top: 70px;
}

.brand-name {
	color: #3498db;
	font-size: 0.9em;
}

#header h4 {
	font-size: 20px;
}
.btn-get-started {
	font-weight: 500;
	text-decoration: none;
	border: 2px solid #3498db;
	padding: 10px 30px;
	border-radius: 50px;
	color: #3498db;
	transition: 0.5s;
}

.btn-get-started:hover {
	background: #3498db;
	color: white;
}

.animate {
	animation-name: up-down;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes up-down {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}

/* card------------------------- */

.card {
	/* width: 18rem; */
}
